# M 2.1 Summary Report


<font size="5"><p style='text-align: justify;'> &emsp;As of 2013 around 35 million people (0.6-0.8%) used opioids illicitly as opioids have adverse effects like addiction to these drugs. In 2011, 4 million people in US used opioids recreationally and were dependent on them. As of 2015, opioids use has increased for recreational use and addiction are attributed to over prescription of opioid medications and inexpensive illicit heroin. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;National drug overdose deaths have seen an exponential rise in the last 20 years. As of 1999 deaths were around 20,000 and by 2020 the deaths due to opioid overdose increased to 91,799(any death related to opioid use). In the recent years the overdose deaths and drug prescription rates are moving higher and almost parallel. In US, daily 650,000 opioid prescriptions are dispensed. As of now daily 78 people are being killed with the opioid drug related issues. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;Primary overdose deaths include the use of Synthetic Opioids (primarily fentanyl) as almost 50% percent of the total overdose deaths related to the use of these synthetic opioids, and it had a 6-fold increase from 2015 to 2020. In the year 2020 16,416 deaths were just related to opioid prescription drugs. Out of all the total deaths 69% of the death people were males. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;Deaths related to Heroin, natural and synthetic opioids continued to rise with 68,630 deaths in 2020. 68% percent of the total deaths involving Heroin also involved in synthetic opioids. In the paper “Correlation of Opioid with Prescriptions and Social Determinants” they extracted opioid prescription rates by extracting information on number of claims, generic drug name, number of medical beneficiaries who were prescribed, Zip code of health care providers. Database is build consisting of 30 million patients’ data. The opioid prescription rate is estimated by total opioid claims prescribed per the number of prescriptions prescribed these medications. By using the Multiple Death dataset (1999-2014), researchers calculated the total opioid mortality rate with the total opioid related deaths divided by the sum of all four mortality codes ICD-10. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;Socio-economic data was extracted from the American Community Survey(2010-2014) estimates. For a total of 180,285,363 opioid prescriptions there were 46,665,037 beneficiaries and the annual opioid prescription rate is given as 3.86 claims per beneficiary. As per the data analysis they extracted top ‘5’ and bottom ‘5’ states with opioid prescription rates and opioid mortality rates. (this data is only based on the Opioid claims per beneficiaries). Vermont has the highest Opioid claims and Florida has the lowest Opioid claims per beneficiaries. The researchers of the paper to evaluate the potential association between opioid related mortality and prescription rate, used a multivariable regression model in which they have considered the socioeconomic parameters that is the ACS data from 2010-2014. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;By the late 1990’s state medical boards have laid restrictions on the laws governing to the prescriptions of opioids for the treatment of chronic non-cancer pain which resulted in the increase in the number of prescriptions and by 2000’s other factors like intensive marketing by pharmaceutical companies, promotion of opioids by numerous physicians, myriad organization promoted opioids as effective pain relievers in chronic non cancer treatments increased in the opioid prescription rates. </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;Opioids usage also varied based on the geographic area. As of 2010 among people 12 years and above. The rate of illicit drug usage was 11.0% in west, 9.4% in the northeast, 8.2% in the Midwest, 7.8% in the south. The rate of drug usage is higher in the metropolitan areas with 9.4% in large metropolitan areas, 8.8% in the small metropolitan counties, 7.5% in the non-metropolitan counties as a group.  </p></font>

<font size="5"><p style='text-align: justify;'> &emsp;As of 2010, 1.5 million people of above 18 years who were on parole supervised from the jail had higher rates of dependence on or abuse of a substance. It is reported that in 2010, 10.6 million or 4.2% of people above the age of 12 reported driving under the influence of illicit drugs, among which the rate is higher among the individuals between 18 to 25 years. In the same period 15.7% of the people who used marijuana have used the drug for more than 300 days an year in the past year that means around 4 million Americans use marijuana on daily basis </p> </font>





<font size="3">- Reference:
1.	https://nida.nih.gov/research-topics/trends-statistics/overdose-death-rates#:~:text=Opioid%2Dinvolved%20overdose%20deaths%20rose,2020%20to%2068%2C630%20overdose%20deaths.
2.	https://www.proquest.com/docview/2655994122?pq-origsite=gscholar&fromopenview=true

</font>

# M2.2 DATA DICTIONARY


##### Reference :
- https://stackoverflow.com/questions/48655801/tables-in-markdown-in-jupyter

| Column Name | Definition | Data Type | About(Description) |
| --- | --- | --- | --- |
| State | State Name | String | State names in US and is required for analysis of state level data available in the project |
| County/FIPS code | County wise names/County level FIPS code | str(county name)/int(FIPS code) | Used for analysis of data available county wise we use either FIPS code or county names |
| Population (County) | Population per county  | int  | Gives the Population Per County (We might consider Yearly Population)  |
| Opioid Dispensing Rate | Opioid Dispensing rate per 100 persons | Float | County wise or state wise Opioid prescribing rate per 100 persons |
| Deaths | Deaths(Opioid Inclusive Deaths) | Int | Deaths per county/State/Country level |
| Life Expectancy Raw Value | Life Expectancy | Float | Life expectancy per county/state/country |
| Mental health providers raw value | Count of Total mental health care providers county/state level | Integer  | This is required to estimate the relation with the deaths associated with availability of mental health care  |
| Drug Overdose Raw Value |  Drug Overdose cases County/Sate level | Integer | Unprocessed data on the total number of cases involving the Opioid drug Overdose |
| Primary Care Physisians Raw Value | Physisians in Primary Care | Float | Raw value is the unprocessed data taken from different resources and raw value of Physicians available in the Primary Health Care (This helps us in the knowing accessability of primary heatlh care to the people)  |
| Rate of population to primary care | Total Population to the Primary Health care available |  Float | Total population divided by the total number of primary Health Care Providers |

# M3.1 Merging

- Merging Dataframes using pandas merge
- https://stackoverflow.com/questions/20375561/joining-pandas-dataframes-by-column-names

In [27]:
import numpy as np
import pandas as pd

In [28]:
df1=pd.read_csv("../../../../data/2019-Opioid_Rate.csv",encoding='latin-1')
# data frame df1 is opioid dispensing rates
df1

     State             County   FIPS  Opiod_Dispensing_Rate
0       AL     Autauga County   1001                  101.3
1       AL     Baldwin County   1003                   67.6
2       AL     Barbour County   1005                   27.2
3       AL        Bibb County   1007                   21.0
4       AL      Blount County   1009                   23.7
...    ...                ...    ...                    ...
3090    WY  Sweetwater County  56037                   70.0
3091    WY       Teton County  56039                   54.6
3092    WY       Uinta County  56041                   59.5
3093    WY    Washakie County  56043                   46.7
3094    WY      Weston County  56045                    4.7

[3095 rows x 4 columns]

### Removing unwanted columns

In [29]:
df1=df1.drop(['County'], axis=1)
df1

     State   FIPS  Opiod_Dispensing_Rate
0       AL   1001                  101.3
1       AL   1003                   67.6
2       AL   1005                   27.2
3       AL   1007                   21.0
4       AL   1009                   23.7
...    ...    ...                    ...
3090    WY  56037                   70.0
3091    WY  56039                   54.6
3092    WY  56041                   59.5
3093    WY  56043                   46.7
3094    WY  56045                    4.7

[3095 rows x 3 columns]

In [30]:
df2=pd.read_csv("../../../../data/underlying_cause_of_death.csv")

df2 = df2[['County', 'County Code', 'Deaths', 'Population']] # using only the required columns

df2['Norm_Deaths']= round((df2['Deaths']/df2['Population'])*100000) # creates a new column with name 'Norm_Deaths' for 100,000 population


df2 = df2.groupby(['County', 'County Code', 'Population'], as_index=False)[["Deaths","Norm_Deaths"]].sum() # grouping by to extract county wise data to extraxt normalized death rates

In [31]:
df2
# using same method on the dataframe as in the team task to take the normalized deaths per 100,000 population

,County,County Code,Population,Deaths,Norm_Deaths
0,"Abbeville County, SC",45001,535389,38,7.0
1,"Acadia Parish, LA",22001,1279727,237,19.0
2,"Accomack County, VA",51001,726189,73,11.0
3,"Ada County, ID",16001,8083452,988,12.0
4,"Adair County, KY",21001,387950,43,11.0
...,...,...,...,...,...
2525,"Yuba County, CA",6115,1468094,153,11.0
2526,"Yukon-Koyukuk Census Area, AK",2290,129587,14,11.0
2527,"Yuma County, AZ",4027,3964172,468,12.0
2528,"Zapata County, TX",48505,284033,16,6.0
2529,"Zavala County, TX",48507,247499,16,6.0

In [32]:
df12=pd.merge(df1, df2, left_on='FIPS', right_on='County Code')
df12
#Merging both dataframe (As we have different column names we use left_on and right_on)

,State,FIPS,Opiod_Dispensing_Rate,County,County Code,Population,Deaths,Norm_Deaths
0,AL,1001,101.3,"Autauga County, AL",1001,1087149,83,7.0
1,AL,1003,67.6,"Baldwin County, AL",1003,3758097,535,15.0
2,AL,1005,27.2,"Barbour County, AL",1005,574442,14,2.0
3,AL,1007,21.0,"Bibb County, AL",1007,464942,56,12.0
4,AL,1009,23.7,"Blount County, AL",1009,1171455,168,14.0
...,...,...,...,...,...,...,...,...
2522,WY,56033,33.5,"Sheridan County, WY",56033,598998,61,10.0
2523,WY,56037,70.0,"Sweetwater County, WY",56037,873221,123,14.0
2524,WY,56039,54.6,"Teton County, WY",56039,440125,13,3.0
2525,WY,56041,59.5,"Uinta County, WY",56041,426347,61,14.0
2526,WY,56043,46.7,"Washakie County, WY",56043,172114,14,8.0

In [33]:
df3=pd.read_csv("../../../../data/County_Health_Ranking.csv")
df3

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
0,1,0,1000,AL,Alabama,2019,NaN,9917.232898,80440.0,13636816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1001,AL,Autauga County,2019,1.0,8824.057123,815.0,156132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,1003,AL,Baldwin County,2019,1.0,7224.632160,2827.0,576496.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,5,1005,AL,Barbour County,2019,1.0,9586.165037,451.0,72222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,7,1007,AL,Bibb County,2019,1.0,11783.543680,445.0,63653.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56,37,56037,WY,Sweetwater County,2019,1.0,7497.439952,495.0,127427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,56,39,56039,WY,Teton County,2019,1.0,3786.128226,124.0,66351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,41,56041,WY,Uinta County,2019,1.0,7790.302043,262.0,59466.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,43,56043,WY,Washakie County,2019,1.0,5504.650970,108.0,22335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,45,56045,WY,Weston County,2019,1.0,4991.168273,82.0,19599.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df123=pd.merge(df12,df3,left_on='FIPS', right_on='5-digit FIPS Code')
df123

#merging output of dataframe 1,2 with 3

,State,FIPS,Opiod_Dispensing_Rate,County,County Code,Population,Deaths,Norm_Deaths,State FIPS Code,County FIPS Code,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
0,AL,1001,101.3,"Autauga County, AL",1001,1087149,83,7.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1003,67.6,"Baldwin County, AL",1003,3758097,535,15.0,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,1005,27.2,"Barbour County, AL",1005,574442,14,2.0,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,1007,21.0,"Bibb County, AL",1007,464942,56,12.0,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,1009,23.7,"Blount County, AL",1009,1171455,168,14.0,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,WY,56033,33.5,"Sheridan County, WY",56033,598998,61,10.0,56,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2523,WY,56037,70.0,"Sweetwater County, WY",56037,873221,123,14.0,56,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2524,WY,56039,54.6,"Teton County, WY",56039,440125,13,3.0,56,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2525,WY,56041,59.5,"Uinta County, WY",56041,426347,61,14.0,56,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,WY,56043,46.7,"Washakie County, WY",56043,172114,14,8.0,56,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df123.sort_values(by=['Norm_Deaths'],ascending=False).head(10)

,State,FIPS,Opiod_Dispensing_Rate,County,County Code,Population,Deaths,Norm_Deaths,State FIPS Code,County FIPS Code,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
1421,NM,35039,30.8,"Rio Arriba County, NM",35039,842643,531,63.0,35,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2411,WV,54047,22.7,"McDowell County, WV",54047,470658,289,61.0,54,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2441,WV,54109,41.5,"Wyoming County, WV",54109,494103,274,56.0,54,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,MD,24510,71.7,"Baltimore city, MD",24510,13091205,6711,51.0,24,510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2394,WV,54011,130.0,"Cabell County, WV",54011,2009558,979,48.0,54,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2391,WV,54005,81.5,"Boone County, WV",54005,511573,242,47.0,54,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2410,WV,54045,93.7,"Logan County, WV",54045,752864,347,46.0,54,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2417,WV,54059,69.0,"Mingo County, WV",54059,554607,248,45.0,54,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,KY,21013,155.4,"Bell County, KY",21013,597689,269,45.0,21,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2415,WV,54055,65.3,"Mercer County, WV",54055,1292174,555,44.0,54,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df123.to_csv('123Merged.csv',index=False)

### implementing groupby function

- https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html

## Task M3.2

In [37]:

grouping=df123.groupby('State')['Norm_Deaths'].agg(['mean', 'median'])
grouping

#groupby State and then plotting the mean and median for the normalized death count for all the states

            mean  median
State
AK     10.933333    10.0
AL      9.083333     7.5
AR      9.095238     9.0
AZ     15.400000    15.0
CA     14.631579    13.0
CO     12.000000    12.0
CT     16.500000    17.0
DC     22.000000    22.0
DE     18.333333    18.0
FL     14.818182    14.0
GA      9.727941     9.0
HI     10.750000    11.0
IA      5.510204     5.0
ID      8.965517     8.0
IL      9.540230     9.0
IN     12.912088    12.0
KS      8.136364     8.0
KY     19.043103    16.0
LA     12.566667    11.0
MA     17.000000    17.5
MD     17.666667    16.0
ME     13.250000    13.0
MI     11.780488    10.5
MN      6.824561     6.0
MO     11.049505    11.0
MS      7.971429     7.0
MT     11.625000    12.5
NC     13.979798    14.0
ND      5.500000     5.5
NE      4.950000     4.0
NH     16.400000    16.0
NJ     15.476190    13.0
NM     20.466667    19.5
NV     16.000000    19.0
NY      9.147541     9.0
OH     15.363636    15.0
OK     14.492754    14.0
OR     13.034483    12.0
PA     15.230769    14.0
RI     16.600000    15.0
SC     10.377778    10.0
SD      5.071429     4.0
TN     17.244681    16.5
TX      8.335227     8.0
UT     16.333333    15.0
VA     11.000000     9.0
VT     12.076923    12.0
WA     13.722222    13.5
WI      8.602941     8.0
WV     22.094340    19.0
WY     10.352941    10.0

In [38]:
grouping10=grouping.sort_values(by=['mean'],ascending=False)
grouping10.head(10)
# mean and median for normalized deaths per 100,000 in top 10 states

            mean  median
State
WV     22.094340    19.0
DC     22.000000    22.0
NM     20.466667    19.5
KY     19.043103    16.0
DE     18.333333    18.0
MD     17.666667    16.0
TN     17.244681    16.5
MA     17.000000    17.5
RI     16.600000    15.0
CT     16.500000    17.0

-

#### In states like West Virginia, New Mexico, Kentucky the Overall rankings are very poor for all factors in US (they rank in the last 5 of all the states in US).
- If we compare the factors of health care, education and economy the above said three states perform really poor and stand among the last five rankings of all the states in US. As with little education and poor health care and infrastructures there is no doubt that the opioid prescriptions have noe lead to addiction in states like **West virginia, New Mexico, Kentucky** where we can see really high opioid usage and relatively more number of drug related deaths.
- Eventhough with decent health care, education and economy states like **DC, Utah, Connecticut and Delaware** we can see more drug usage because of addiction as these states ranks far low in Oppurtunities creation and utilisation and with low employment we can say that there is more opioid drug addiction resulting in more non-prescription drug usage and we can see more number of deaths in these states.

- As of Counties in consideration, We can see More counties of West Virginia ranks on top 10 for drug induced deaths.
- **McDowell County** of West Virginia ranks worst in all the counties of West Virginia with least health care and low life Expectancy rates.
- As of 2015 drug induced deaths in McDowell County is the highest with around 141 deaths 100.000 population when compared to US with 14.7 for 100,000 population

- **Rio Arriba County** ranks one among the hihest mortality rates in new mexico state. Factors include low health care rankings, lower education and one of the least rankings among all the factors